/* use rems and add media query to make the page responsive */

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h2 {
  font-size: 2rem;
}

.titleContainer {
  margin: .5rem;
}

h3 {
  margin: .3rem;
}

ul {
  padding-left: 0;
}

li {
  border-radius: .3rem;
  border: 1px solid #fff;
  margin: .3rem;
  list-style-type: none;
  padding: 1rem;
  display: inline-block;

}

.type {
  font-size: .7rem;
}

@media only screen and (max-width: 450px) {
  li {
    display: block;
  }
}
